*{
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
}

body{
  position: relative;
  height: 100%;
  background: -moz-linear-gradient(to bottom,#8b0000,#cd5c5c 50%,#8b0000);
  background: -webkit-linear-gradient(to bottom,#8b0000,#cd5c5c 50%,#8b0000);
  background: linear-gradient(to bottom,#8b0000,#cd5c5c 50%,#8b0000);
}

h1{
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  transform: translate(0%,-60%);
  font-size: 3.5em;
  color: rgb(0, 0, 0);
}
