*{
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  background-color: #eea9a9fb;
}

h1 {
  text-align: left;
  top: 1em;
  font-size: medium;
  font-weight: bold;
}

.stamp_list_element{
  width: 25%;
}
