*{
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
}

body{
  position: relative;
  height: 100%;
  background-color: rgba(138, 226, 222, 0.699);
}

h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6em;
  color: rgba(255, 0, 0, 0.863);
}
