<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>Wine|add friend form</title>
  <link rel="stylesheet" href="/css/add_friend_form.css">
</head>

<body>
  <p id="page_back"><a href="/friend_home">戻る</a></p>
  <div id="box">
  <h2 id="page_title">フレンド登録</h2>
  <h3 th:if="${message}" id="message">[[${message}]]</h3>
  <form action="/add_friend/add" method="POST" id="add_friend_form">
    <p>
      <input type="text" name="friend_id" placeholder="フレンドのユーザIDの入力"
      class="add_friend_form_element">
    </p>
    <p th:if="${_csrf}">
      <input type="hidden" name="_csrf" id="_csrf">
      <script>
        window.onload = () => {
          const _csrf = "[[${_csrf}]]";
          document.getElementById("_csrf").setAttribute("value",_csrf);
        };
      </script>
    </p>
    <p>
      <input type="submit" name="add_friend" value="登録" class="add_friend_form_element">
    </p>
  </form>
  </div>
</body>

</html>
