<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>Wine|add friend form</title>
</head>

<body>
  <h2>フレンド登録</h2>
  <h3 th:if="${message}">[[${message}]]</h3>
  <form action="/add_friend/add" method="POST">
    <p>
      <label>フレンドID：</label>
      <input type="text" name="friend_id" placeholder="フレンドのユーザIDの入力">
    </p>
    <p th:if="${_csrf}">
      <input type="hidden" name="_csrf" id="_csrf">
      <script>
        window.onload = () => {
          const _csrf = "[[${_csrf}]]";
          document.getElementById("_csrf").setAttribute("value",_csrf);
        };
      </script>
    </p>
    <p>
      <input type="submit" name="add_friend" value="登録">
    </p>
  </form>
</body>

</html>
