<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">

  <title>Wine|chat_page</title>
</head>

<body>
  <div th:if="${group_list}">
    <p th:each="group : ${group_list}">
      <a th:href="@{'/chat_page?group_id=' + ${group}}">
        [[${group}]]
      </a>
    </p>

  </div>
  <hr>

  <div th:if="${chat_list}">
    <p th:each="chat : ${chat_list}">
      [[${chat.user_id}]]：[[${chat.message}]]
    </p>
  </div>

  <form action="/chat_page/send" method="post">
    <p>
      <textarea name="chat"></textarea>
    </p>
    <p>
      <input type="submit" value="送信">
    </p>

  </form>

  <p><a href="/chat_page">更新</a></p>

  <p><a href="/login_user/logout">ログアウト</a></p>
</body>

</html>
