<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>Wine|chat_page</title>
  <link rel="stylesheet" href="/css/chat_page.css">
  <script>
    const chat_type = "[[${chat_type}]]";
    const receiver = "[[${receiver}]]";

    function updateChatArea() {
      let sse = new EventSource("/chat_page" + chat_type + "/update?receiver=" + receiver);

      sse.onmessage = (event) => {
        let dataList = JSON.parse(event.data);

        let chatArea = document.getElementById("chat_area");
        while (chatArea.firstChild) {
          chatArea.removeChild(chatArea.firstChild);
        }

        Array.from(dataList).forEach(chat => {
          let sender = document.createElement("p");
          sender.textContent = chat.sender;

          let dateTime = document.createElement("small");
          dateTime.setAttribute("class","date_time");
          dateTime.textContent = chat.date_time;

          let chatInfo = document.createElement("th");
          chatInfo.setAttribute("class","chat_info");
          chatInfo.appendChild(sender);
          chatInfo.appendChild(dateTime);

          let chatData = document.createElement("p");
          chatData.textContent = chat.chat_data;
          chatData.setAttribute("class","chat_data");

          let chatDataParent = document.createElement("td");
          chatDataParent.setAttribute("class","chat_data_parent");
          chatDataParent.appendChild(chatData);

          let chatLine = document.createElement("tr");
          chatLine.setAttribute("class","chat_line");
          chatLine.appendChild(chatInfo);
          chatLine.appendChild(chatData);

          let table = document.createElement("table");
          table.setAttribute("class","chat_line_table");
          table.appendChild(chatLine);

          chatArea.appendChild(table);
        });
      };

      return sse;
    }

    function setAsyncChatSend() {
      document.getElementById("chat_send_button").addEventListener("click",() => {
        // 送信データ作成
        let formData = new FormData();

        let chatData = document.getElementById("chat_data").value;
        let receiver = document.getElementById("receiver_input").value;

        formData.append("chat_data",chatData);
        formData.append("receiver",receiver);

        // XMLHttpRequestで非同期POST送信
        let xhr = new XMLHttpRequest();

        let request = document.getElementById("chat_form").getAttribute("action");
        xhr.open("POST",request,true);

        xhr.send(formData);

        document.getElementById("chat_data").value = "";
      });
    }

    function setTransferEvent(eventSource) {
      new Array(
        document.getElementById("page_back")
      ).forEach(obj => {
        obj.addEventListener("click",() => {
          eventSource.close();
        });
      });
    }

    var selectStampWindow = null;
    function setStampButtonClickListener() {
      document.getElementById("stamp_select_button").addEventListener("click",() => {
        // window
        selectStampWindow = window.open("","SelectStampWindow","width=300,height=600");

        // open
        selectStampWindow.document.open();

        // document
        selectStampWindow.document.write("<!DOCTYPE html><html lang='ja'><head></head><body></body></html>");

        // head
        let title = document.createElement("title");
        title.textContent = "Wine | Select Stamp";
        selectStampWindow.document.getElementsByTagName("head")[0].appendChild(title);

        // body
        // write here

        // close
        selectStampWindow.document.close();
      });
    }

    window.onload = () => {
      updateChatArea();
      setAsyncChatSend();
      setTransferEvent();
      setStampButtonClickListener();
    };
  </script>
</head>

<body>
  <a id="page_back" th:href="@{${chat_home}}">戻る</a>

  <div id="action">
    <h1 th:if="${receiver}" id="receiver">[[${receiver}]]</h1>

    <p th:if="${message}">[[${message}]]</p>

    <div id="chat_area"></div>
  </div>

  <div id="chat_form_div">
    <form th:action="@{'/chat_page' + ${chat_type} + '/send'}" method="POST" id="chat_form">
      <p>
        <input type="button" id="stamp_select_button" value="スタンプ">
        <input type="button" id="chat_send_button" value="送信">
      </p>
      <p>
        <textarea name="chat_data" id="chat_data" rows="12"></textarea>
      </p>
      <p>
        <input type="hidden" name="receiver" id="receiver_input" th:value="${receiver}">
      </p>
    </form>
  </div>
</body>

</html>
