<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>Wine|EntryGroup</title>
  <link rel="stylesheet" href="/css/entry_group.css">
</head>

<body>
  <p id="back"><a href="/group_home">戻る</a></p>
  <div id="box">
    <h2 id="page_title">グループ参加</h2>
    <h3 id="message" th:if="${message}">[[${message}]]</h3>
    <form action="/entry_group/entry" method="POST" id="entry_group_form">
      <p>
        <input type="text" class="entry_group_element" name="group_id" placeholder="グループIDを入力">
      </p>
      <p>
        <input type="password" class="entry_group_element" name="group_pwd" placeholder="パスワードを入力">
      </p>
      <p>
        <input type="submit" class="entry_group_element" name="entry_group" value="参加">
      </p>
    </form>
  </div>
</body>




</html>
