<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>Wine|ユーザを登録する</title>
  <link rel="stylesheet" href="/css/new_user_form.css">
</head>

<body>
  <p id="page_back"><a href="/">戻る</a></p>
  <div id="box">
    <h1 id="page_title">ユーザ新規登録フォーム</h1>
    <h3 id="message" th:if="${message}">[[${message}]]</h3>
    <form action="/new_user/regist" method="POST" id="user_form">
      <p>
        <input type="text" name="user_id" placeholder="ユーザID" class="user_form_element">
      </p>
      <p>
        <input type="text" name="user_name" placeholder="ユーザ名" class="user_form_element">
      </p>
      <p>
        <input type="password" name="user_pwd_1" placeholder="パスワードを入力" class="user_form_element">
      </p>
      <p>
        <input type="password" name="user_pwd_2" placeholder="パスワードを再入力" class="user_form_element">
      </p>
      <p>
        <input type="submit" name="make_new_user" value="登録" class="user_form_element">
      </p>
    </form>
  </div>
</body>

</html>
